
@{
    ViewBag.Title = "YeniKategori";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Yeni Kategori</h2>

<form class="form-group" method="post">
    <div class="form-group">
        <label for="usr">Kategori Adi:</label>
        <input type="text" class="form-control" name="kategori_adi">
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">Ekle</button>
    </div>

</form>

